@use "../../scss/variables" as *;
.header__title {
  font-family: $ff-primary;
  font-size: 1.5rem;
  font-weight: $fw-light;
  color: $clr-neutral-gray;
  margin-bottom: 1rem;
  & span {
    font-weight: $fw-bold;
    color: $clr-neutral-blue;
  }
}

.header__subtitle {
  font-family: $ff-primary;
  font-size: 0.85rem;
  font-weight: $fw-light;
  color: $clr-neutral-blue;
}
