@use "./variables" as *;

@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
